[mysqld]
explicit_defaults_for_timestamp = 1

# * ???? NOT NULL ????????? TIMESTAMP ??????NULL ?????????
# * TIMESTAMP ???? DEFAULT CURRENT_TIMESTAMP ??? ON UPDATE CURRENT_TIMESTAMP ?????????????????
# * NOT NULL ???????????? DEFAULT ?????? TIMESTAMP ????????????????????????????
# ??: https://dev.mysql.com/doc/refman/5.6/ja/upgrading-from-previous-series.html
# ??: https://aws.amazon.com/jp/blogs/news/best-practices-for-configuring-parameters-for-amazon-rds-for-mysql-part-3-parameters-related-to-security-operational-manageability-and-connectivity-timeout/
